* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
     color: black;
     background-color: #c9c5ba
    
}

h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #accbe1;
    font-size: 20px
}

nav:last-child { 
    margin-left: auto;
} 

#clearSearch {
    width: 200px;
    color :black;
    font-size: 30px;
    height: 50px;
    position: relative;
    top: 200px;
}


#search-button {
    width: 200px;
    height: 70px;
    font-size: 30px;
    position: relative;
    left: 430px;
    top: 70px;
}

#search-input {
    width: 30%;
    height: 60px;
    font-size: 30px;
    position: relative;
}


img {
        border-radius: 60%;
        max-width: 40%;
        opacity: 0.5;
        display: block;
        margin-left: auto;
        position: relative;
        bottom: 170px;
 
      }

      .word-search {
        max-width: 400px;
        position: relative;
        top: 200px;
        text-align: center;
        font-size: 30px;
        color: black;
      }

.short-def {
    position: relative;
    font-size: 60px;
    text-align: center;
    bottom: 200px;
    top: 50px;
}


#me {
    padding-top: 1.5em;  
    font-size: 20px;
    width: 600px;
    text-align: left;
}

#me h3 {
  text-align: center;
}
   

.break {
    background: linear-gradient(180deg, #000 5px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%);
    padding-top: 1.5em;  
    font-size: 20px;
    width: 100%;
}

.synonim {
  font-size: 30px;
  position: relative;
  top: 200px;
  max-width: 100px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
 #submit {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  #submit:hover {
    background-color: #45a049;
  

  }
  
  /* Style the container/contact section */
  #contact {
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    
  }
  
  /* Create two columns that float next to eachother */
  .column {
  
    align-items: center;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .results-box {
    flex-grow: 3;
}
#add-button {
  font-size: 20px;
  background-color: green;
  padding: 10px;
  bottom:200px;
}

.footer {
    background-color: #7c98b3;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
